// ------
// Sequence tables
// ------

.pl-react-table.p-datatable.lucuma-sequence-table {
  .p-datatable-thead > tr > th {
    text-align: center;
  }

  .p-datatable-tbody > tr > td {
    padding-top: 0;
    padding-bottom: 0;
    border-left: 0;
    text-align: center;
  }

  .p-datatable-tbody > tr:last-of-type > td {
    border-bottom: 1px var(--surface-border) solid;
  }
}

.lucuma-sequence-step-guided {
  color: lightgreen;
}

.lucuma-sequence-step-type-object {
  color: var(--green-500);
}

.lucuma-sequence-step-type-arc {
  color: var(--purple-600);
}

.lucuma-sequence-step-type-flat {
  color: var(--gray-600);
}

.lucuma-sequence-step-type-bias {
  color: var(--teal-400);
}

.lucuma-sequence-step-type-dark {
  color: var(--gray-900);
}