// ------
// Sequence tables
// ------

.lucuma-sequece-right-aligned {
  text-align: right;
}

.lucuma-sequece-left-aligned {
  margin-left: 100 pct;
}

.lucuma-sequece-step-guided {
  color: lightgreen;
}