// media queries cutoff
$tablet-responsive-cutoff: 992px;
$mobile-responsive-cutoff: 670px;

@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin full-height-width {
  height: 100%;
  width: 100%;
}

a,
a:hover {
  text-decoration: none;
}

.lucuma-indicator-ok {
  color: var(--green-400);
}

.lucuma-indicator-warning {
  color: var(--yellow-500);
}

.lucuma-indicator-fail {
  color: var(--red-500);
}
