// For laying out controls. The "Form*" compoents utilize this, too.
.pl-form-column {
  display: grid;
  justify-items: start;
  align-items: baseline;
  align-self: start;
  grid-template-columns: [label] auto [field] 1fr;
  row-gap: 1em;
  column-gap: 1em;

  &.pl-compact {
    row-gap: 0.5em;
  }

  &.pl-very-compact {
    row-gap: 0.25em;
  }

  .pl-form-field-label {
    grid-column: 1;
  }

  .pl-form-field {
    grid-column: 2;
    justify-self: stretch;
    margin: 0;
  }
}

// For styling of buttons in primereact for different "compactness" and "size"
button.p-component.p-button {
  margin-right: .25em; // this is what the current css does for SUI. Might want to improve.

  &.pl-compact {
    padding: 0.39285714em;
  }

  svg.svg-inline--fa {
    width: 1.5em;
  }

  .p-button-icon-left {
    margin-right: 0.2em;
  }

  .p-button-icon-right {
    margin-left: 0.2em;
  }

  // default size is Medium
  &.pl-mini {
    font-size: 0.78571429rem;
  }

  &.pl-tiny {
    font-size: 0.85714286rem;
  }

  &.p-button-sm,
  &.pl-small {
    font-size: 0.92857143rem;
  }

  &.p-button-lg,
  &.pl-large {
    font-size: 1.14285714rem;
  }

  // unfortunately, primereact uses `scaling factors` to scala the `lg` and `sm` component. It also 
  // seems to apply these to padding, which we don't want. Change the scaling factors seemed inappropriate
  // because it would affect many more componenents, so I had to copy the padding value for the medium button.
  &.p-button-sm,
  &.p-button-lg {
    &:not(.pl-compact) {
      padding: 0.78571429em;
    }

    .p-button-icon {
      font-size: inherit;
    }
  }

  &.pl-big {
    font-size: 1.28571429rem;
  }

  &.pl-huge {
    font-size: 1.42857143rem;
  }

  &.pl-massive {
    font-size: 1.71428571rem;
  }
}
