.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}

.non-draggable {
  user-select: none;
}

.centered {
  display: flex;
  justify-content: center;
}

.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;

  &.cssTransforms {
    transition-property: transform;
  }

  &.resizing {
    z-index: 1;
    will-change: width, height;
  }

  &.react-draggable-dragging {
    transition: none;
    z-index: 3;
    will-change: transform;
  }

  &.react-grid-placeholder {
    background: lightgreen;
    opacity: 0.2;
    transition-duration: 100ms;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  > .react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    cursor: se-resize;

    &::after {
      content: "";
      position: absolute;
      right: 3px;
      bottom: 3px;
      width: 5px;
      height: 5px;
      border-right: 2px solid rgba(255, 255, 255, 0.6);
      border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    }
  }
}

.react-resizable {
  position: relative;
}

.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+");
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}

body, #root, .react-aladin, .react-aladin-container {
  height: 100%;
  width: 100%;
  margin: 0;
}

.instrument-geom {
  z-index: 10;
  position: relative;
  top: 0px;
  left: 0px;
}

.tile {
  height: 100%;
  width: 100%;
}

svg {
  position: absolute;
  pointer-events: none;
}

.targets-overlay-svg {
  z-index: 1000;
}

.visualization-overlay-svg {
  z-index: 999;
}

.targets-overlay-svg {
  .crosshair-target {
    fill: none;
    stroke: green;
    stroke-width: 2px;
    vector-effect: non-scaling-stroke;
  }

  .circle-target {
    fill: none;
    stroke: red;
    stroke-width: 0.8px;
    vector-effect: non-scaling-stroke;
  }

  .viz-guides {
    display: none;
    stroke: white;
    stroke-width: 2px;
    fill: none;
    vector-effect: non-scaling-stroke;
  }
}

@media (min-resolution: 2ddpx) {
  svg {
    shape-rendering: optimizeSpeed;
  }
}

.jts {
  // display: none;
  z-index: 10;
}

.jts-polygon {
  stroke: gray;
  stroke-width: 2px;
  fill: lightgray;
  fill-opacity: 0.3;
  vector-effect: non-scaling-stroke;
}

.gmos-probe {
  stroke: red;
  z-index: 1;
  fill-opacity: 0.1;
}

.gmos-patrol-field {
  stroke: red;
  stroke-dasharray: 10;
}

.gmos-science-area polygon {
  stroke: purple;
  fill: black;
  fill-opacity: 1;
}

.gmos-science-ccd-offset polygon {
  stroke: yellow;
  fill-opacity: 0.1;
}

.gmos-science-ccd polygon {
  stroke: cyan;
  fill-opacity: 0.1;
}

.jts-svg-border {
  stroke: yellow;
  stroke-width: 2px;
  vector-effect: non-scaling-stroke;
  stroke-dasharray: 1;
}

.jts-svg-center {
  display: none;
  stroke: green;
  stroke-width: 2px;
  vector-effect: non-scaling-stroke;
}


.visualization-overlay-svg {
  .viz {
    z-index: 10;
  }

  .viz-polygon {
    stroke: gray;
    stroke-width: 2px;
    fill: lightgray;
    fill-opacity: 0.3;
    vector-effect: non-scaling-stroke;
  }

  .gmos-probe {
    stroke: red;
    z-index: 1;
    fill-opacity: 0.1;
  }

  .gmos-patrol-field {
    stroke: red;
    stroke-dasharray: 10;
  }

  .gmos-science-area polygon {
    stroke: purple;
    fill: black;
    fill-opacity: 1;
  }

  .gmos-science-ccd-offset polygon {
    stroke: yellow;
    fill-opacity: 0.1;
  }

  .gmos-science-ccd polygon {
    stroke: cyan;
    fill-opacity: 0.1;
  }

  .viz-svg-border {
    stroke: yellow;
    stroke-width: 2px;
    vector-effect: non-scaling-stroke;
    stroke-dasharray: 1;
  }

  .viz-svg-center {
    display: none;
    stroke: green;
    stroke-width: 2px;
    vector-effect: non-scaling-stroke;
  }
  .viz-guides {
    display: none;
    stroke: white;
    stroke-width: 2px;
    fill: none;
    vector-effect: non-scaling-stroke;
  }
}
