#root,
body,
html {
  height: 100%;
  width: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Open Sans, sans-serif;
  font-size: 12px;
  box-sizing: border-box;

  &.dark-theme {
    color: #F7F7F7;
    background-color: black;
  }

  &.light-theme {
    color: #272727;
    background-color: white;
  }
}
